{{page-title "Haruka Project"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}

<h1>Application</h1>

{{outlet}}
